

@page "/Languages/HighVersianLangauge/Root/{Root}"
@using WikiServices.DataServices
@using WikiServices.SimpleServiceDriverCode
@inject HighVersianService highVersian
<head>
    <title>High Versian - @Root</title>
</head>
<style>
    .high {
        font-family: 'high_versianregular';
    }
</style>

@code
{

    [Parameter]
    public string Root { get; set; }

    public HighVersianDefinition _root => GetPrefix();

    public HighVersianDefinition GetPrefix()
    {
        return highVersian.Roots.FirstOrDefault(x => x.Letters.ToUpper() == Root.ToUpper());
    }

    public HighVersianDefinition GenerateWord(HighVersianDefinition prefix, HighVersianDefinition postfix)
    {
        return  highVersian.GetWord(prefix.Letters, _root.Letters, postfix.Letters);
    }

}

<body>
    <h1>High Versian: <div class="high">@_root.Letters</div> </h1>
    <a href="/Languages/HighVersianLangauge/">Back to language page.</a>
    <p><b class="high">@_root.Letters</b> (@_root.Letters): @_root.Meaning</p>
    <ul>
        @foreach (var word in highVersian.Words.Where(word => word.Letters.ToUpper().Contains(_root.Letters.ToUpper())) ?? new List<HighVersianDefinition>() )
        {
            <li>
                <b class="high">@word.Letters</b>: @word.Meaning
            </li>
        }
    </ul>
</body>
