@page "/Factions/IslandsReligionCreator"
@using TravellerFactionSystem
@using TravellerFactionSystem.Faction_Types
@using TravellerFactionSystem.FactionEnums
@using TravellerCharacter.CharcterTypes
@using VoicesFromTheVoidArticles
@using Newtonsoft.Json
@using TravellerFactionSystem.Location
@inject TravellerFactionService _factionService
@inject NavigationManager NavManager

@code{
    string FactionName = "";
    string HeadQuartersWorldName = "";
    int hqPX = 1;
    int hqPY = 1;
    int hqSX = 1;
    int hqSY = 1;
    string FactionHeadName = "";
    TravellerIslandsNations NationWithin;
    TravellerNationalities NationAlignedWith;

    TravellerDateTime FoundingDateTime = new();
    TravellerFactionPoliticalSway PoliticalSway;
    TravellerFactionSocialSway SocialSway;
    TravellerFactionEconomicSway EconomicSway;
    int FoundingDay = 1;
    int FoundingMonth = 1;
    readonly int FoundingMil = 83;
    int FoundingCen = 350;

    int NumberOfFollowers = 100;

    List<TravellerLocation> OtherLocations = new();
    string OtherPlanetName = "";
    int opPX = 1;
    int opPY = 1;
    int opSX = 1;
    int opSY = 1;

    TravellerReligion Religion = null;


    public void AddNextPlanet()
    {
        OtherLocations.Add(new TravellerTextLocation(OtherPlanetName, opSX, opSY, opPX, opPY));
        OtherPlanetName = "";
        opSX = 1;
        opSY = 1;
        opPX = 1;
        opPY = 1;
    }

    public void CreateReligion()
    {
        FoundingDateTime = new TravellerDateTime(FoundingDay, FoundingMonth, FoundingMil, FoundingCen);
        var hq = new TravellerTextLocation(HeadQuartersWorldName, hqSX, hqSY, hqPX, hqPY);

        Religion = new TravellerReligion(NumberOfFollowers,
            FactionName, hq.LocationID, NationWithin, NationAlignedWith, FactionHeadName, OtherLocations.Select(x => x.LocationID).ToList(), FoundingDateTime,
            PoliticalSway, SocialSway, EconomicSway);
    }

    public void GenerateFollowerCount()
    {
        var random = new Random();
        NumberOfFollowers = random.Next(0, Math.Max(2, (int)SocialSway * 100));
    }


    public void GenerateSwayValues()
    {
        var random = new Random();
        var values = TravellerFaction.GenerateSwayValues(random);

        PoliticalSway = values.politicalSway;
        SocialSway = values.socialSway;
        EconomicSway = values.economicSway;
    }

    public void SaveFaction()
    {
        _factionService.AddFaction(Religion);
        NavManager.NavigateTo($"/Factions/IslandsFaction/{Religion.FactionID.ToString()}");
    }

}

<div>

    <p>
        <span style="background-color: red; border: mediumvioletred 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="factionName">Religion Name: </label>
            <input type="text" @bind="@FactionName" id="factionName"/>
        </span>
    </p>

    <p>
        <span style="background-color: green; border: greenyellow 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="ceoName">Leaders Name: </label>
            <input type="text" @bind="@FactionHeadName" id="ceoName"/>
        </span>
        (Leave empty to generate random value)
    </p>
    <p>
        <span style="background-color: red; border: mediumvioletred 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="headquartersLocation">Headquarters Location: </label>
            <input type="search" list="worldNames" @bind="@HeadQuartersWorldName" id="headquartersLocation"/>
            <label for="hqPX">Location: </label>
            <input type="number" @bind="@hqPX" id="hqPX" style="width:3em"/>
            <label for="hqPY">,</label>
            <input type="number" @bind="@hqPY" id="hqPY" style="width:3em"/>
            <label for="hqSX">:</label>
            <input type="number" @bind="@hqSX" id="hqSX" style="width:3em"/>
            <label for="hqSY">'</label>
            <input type="number" @bind="@hqSY" id="hqSY" style="width:3em"/>
            <datalist id="worldNames">
                @foreach (var world in _factionService.WorldsHeldByFactions())
                {
                    <option value="@world">@world</option>
                }
            </datalist>
        </span>
    </p>
    <p>
        <span style="background-color: green; border: greenyellow 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="localNationality">Local Nationality Aligned With: </label>
            <select @bind="@NationWithin" id="localNationality">
                @foreach (var option in Enum.GetValues(typeof(TravellerIslandsNations)))
                {
                    <option value="@option">@option</option>
                }
            </select>
        </span>
    </p>
    <p>
        <span style="background-color: blue; border: deepskyblue 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="majorNationality">Major Nationality Aligned With: </label>
            <select @bind="@NationAlignedWith" id="majorNationality">
                @foreach (var option in Enum.GetValues(typeof(TravellerNationalities)))
                {
                    <option value="@option">@option</option>
                }
            </select>
        </span>
    </p>
    <p>
        Level of Sway over key areas.
        <br/>
        <span style="background-color: red; border: mediumvioletred 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="politicalSway">Poltical Sway: </label>
            <select @bind="@PoliticalSway" id="politicalSway">
                @foreach (var value in Enum.GetValues(typeof(TravellerFactionPoliticalSway)))
                {
                    <option value="@value">@value </option>
                }
            </select>

        </span>
        <span style="background-color: green; border: greenyellow 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="sociallSway">Social Sway: </label>
            <select @bind="@SocialSway" id="sociallSway">

                @foreach (var value in Enum.GetValues(typeof(TravellerFactionSocialSway)))
                {
                    <option value="@value">@value </option>
                }
            </select>

        </span>
        <span style="background-color: blue; border: deepskyblue 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="economicSway">Economic Sway: </label>
            <select @bind="@EconomicSway" id="economicSway">

                @foreach (var value in Enum.GetValues(typeof(TravellerFactionEconomicSway)))
                {
                    <option value="@value">@value </option>
                }
            </select>

        </span>
        <button type="button" @onclick="GenerateSwayValues">Generate Random Values</button>
    </p>
    <p>
        When did the religion revel itself
        <br/>
        <span style="background-color: red; border: mediumvioletred 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="establishDay">Establishment Day: </label>
            <input type="number" @bind="@FoundingDay" id="establishDay"/>

        </span>
        <span style="background-color: green; border: greenyellow 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="establishMonth">Establishment Month: </label>
            <input type="number" @bind="@FoundingMonth" id="establishMonth"/>

        </span>
        <span style="background-color: blue; border: deepskyblue 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="establishYear">Establishment Century (Mil is 83): </label>
            <input type="number" @bind="@FoundingCen" id="establishYear"/>
        </span>
    </p>
    <p>
        <br/>
        <span style="background-color: red; border: mediumvioletred 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="revenue">Number of Religious Followers: </label>
            <input type="number" @bind="@NumberOfFollowers" id="revenue"/>

        </span>
        <button type="button" @onclick="@GenerateFollowerCount">Generate Random Follower Count</button>
    </p>
    <p>
        Other Planest controlled by this faction: @OtherLocations.Aggregate("", (h, t) => h + ", " + t)
        <span style="background-color: darkgray; border: #A7A7A7 2px solid; display:inline-block; padding: 2px 2px 2px 2px;color: white">
            <label for="otherPlanetName">Other Planet's Name</label>
            <input type="text" @bind="@OtherPlanetName" id="otherPlanetName">
            <label for="opPX">Location: </label>
            <input type="number" @bind="@opPX" id="opPX" style="width:3em"/>
            <label for="opPY">,</label>
            <input type="number" @bind="@opPY" id="opPY" style="width:3em"/>
            <label for="opSX">:</label>
            <input type="number" @bind="@opSX" id="opSX" style="width:3em"/>
            <label for="opSY">'</label>
            <input type="number" @bind="@opSY" id="opSY" style="width:3em"/>
            <button type="button" @onclick="AddNextPlanet">Add Planet</button>
        </span>
    </p>

    @if (Religion == null)
    {
        <p>
            <button @onclick="@CreateReligion">Create Religion</button>
        </p>
    }
    else
    {
        <p>
            <button onclick="navigator.clipboard.writeText('@JsonConvert.SerializeObject(Religion)').then(function() {/* clipboard successfully set */}, function () {alert('Umm, there was an error!'); }) ">Get Religions Json</button> <button @onclick="@SaveFaction">Add Religion</button>
        </p>
    }
</div>