@page "/Rules/Magic/FreeFormMagic/"
@using WikiServices.InformationServices
@inject TravellerFreeFormMagicSystemsService MagicService

<head>
    <title>Free Form Magic</title>

    <meta property="og:title" content="Known Universe Wiki - Free Form Magic"/>
    <meta property="og:url" content="https://theseamnetwork.com/Rules/Magic/FreeFormMagic/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png"/>
    <meta content="Free Form Magic allows the user to craft their most powerful and situationally helpful spells, but at greater risk and perosnal cost then other types of magic." property="og:description"/>
    <meta content="#ffe81F" data-react-helmet="true" name="theme-color"/>
</head>

<h1>Free Form Magic</h1>
<p>Free Form Magic is the foundation of the magic system in my Traveller games. To do a magic check, you use your Psi stat against the type of magics spell DC, as well as some modifiers as decided by your Referee and the type of Magic you are trying to cast.</p>
<p>Free Form Magic operates starts at DC 5, and for each word you add into the spell you increase the DM by 1. Each spell you cast requries at least 3 words (the Plane you're casting from, the Action you're casting, and What you're casting on.), so really the minimum Free Form Magic DC is 8+. You can increase this by adding modifier words to your spell, but it will increase the spell DC. As well, you use the number of Psi Points equal to the number of words in your spell.</p>
<p>So while Free Form Magic may be the most open to abuse, it is both hard to cast, and very draining to use.</p>
<h2>Composing a Free Form Spell</h2>
<p>To compose a Free Form Spell, you require at least three words: The Plane, The Action, The Target. You can optionally choose to add any modifiers you would like.</p>
<p>The Plane is which plane of existance you are casting from, this is also the skill you add to your Psi cast. </p>
<p>The Action is roughly what you are hoping to accomplish with this spell, it is fairly vague so as to allow the player and the Referee to work together to decided on how it should work.</p>
<p>The Target is what or who you are targeting, what sort of broad type of thing is it.</p>
<p>The Modifiers allow you to adjust your spell, fine tuning it to be as percise as you need from the very broad and generic to something more surgical for your needs at that time.</p>
<p>If you fail to cast your spell, roll on the <a href="/Rules/Magic/Perils"> Perils Table</a> applying the effect of your roll to the result on the table.</p>
<p>The skills usesd to a cast a spell are named after the 5 planes of existance. Thus they are : Void, Aether, Material, Nether, Abyss/</p>
<p>The final casting stat line looks like: 2D6 + CASTSING_PLANE + PSI + Modifiers > 5 + NUMBER_OF_WORDS</p>

<h3>Spell Creator</h3>
<p>
    <a href="/Generators/TravellerSpellCreator">Free Form Magic Creator - This is a tool for helping you craft your spells in the various languages.</a>
</p>

<h2>Free Form Words in High Versian</h2>
<p>High Versian is the language used by the Luna Knights, and the Equites Ordinis Deorum for casting free form magic.</p>
<h3>Free Form Planes (High Versian)</h3>
<ul>
    @foreach (var plane
        in MagicService.GetPlanesWords(FreeFormLanguages.HighVersian)
            .OrderBy(plane => plane.Key))
    {
        <li>@plane.Key - @plane.Value</li>
    }
</ul>

<h3>Free Form Verb/Action(High Versian)</h3>
<ul>
    @foreach (var action
        in MagicService.GetActionWords(FreeFormLanguages.HighVersian)
            .OrderBy(action => action.Key))
    {
        <li>@action.Key - @action.Value</li>
    }
</ul>

<h3>Free Form Noun/Target (High Versian)</h3>
<ul>
    @foreach (var target
        in MagicService.GetTargetWords(FreeFormLanguages.HighVersian)
            .OrderBy(target => target.Key))
    {
        <li>@target.Key - @target.Value</li>
    }
</ul>

<h3>Free Form Modifiers (High Versian)</h3>
<ul>

    @foreach (var modifier
        in MagicService.GetModifiersWords(FreeFormLanguages.HighVersian)
            .OrderBy(modifier => modifier.Key))
    {
        <li>@modifier.Key - @modifier.Value</li>
    }
</ul>
<p>
    Here are some example Versian Free Form Spells:
    <ul>
        <li>Saptium Putridus Aura - Push Away</li>
        <li>Caelum Aedificate Hominum - Heal someone</li>
        <li>Verus Mutare Terra Dilatanda - Change land in a large area</li>
        <li>Verus Disco Aura Compsitae Saptium Aedificate Ignis - gather all air and turn it into fire</li>
        <li>Caelum Disco Mens Multa N - Mind link between N people</li>
    </ul>
</p>


<h2>Free Form Words in Jed-I</h2>
<p>The Jed-I's ancient tongue is closely related to that of the sith, but is different enough for them to have their own terms for various parts of spells. </p>
<h3>Free Form Planes (Jed-I)</h3>
<ul>
    @foreach (var plane
        in MagicService.GetPlanesWords(FreeFormLanguages.Jedi)
            .OrderBy(plane => plane.Key))
    {
        <li>@plane.Key - @plane.Value</li>
    }
</ul>

<h3>Free Form Verb/Action(Jed-I)</h3>
<ul>
    @foreach (var action
        in MagicService.GetActionWords(FreeFormLanguages.Jedi)
            .OrderBy(action => action.Key))
    {
        <li>@action.Key - @action.Value</li>
    }
</ul>

<h3>Free Form Noun/Target (Jed-I)</h3>
<ul>
    @foreach (var target
        in MagicService.GetTargetWords(FreeFormLanguages.Jedi)
            .OrderBy(target => target.Key))
    {
        <li>@target.Key - @target.Value</li>
    }
</ul>

<h3>Free Form Modifiers (Jed-I)</h3>
<ul>

    @foreach (var modifier
        in MagicService.GetModifiersWords(FreeFormLanguages.Jedi)
            .OrderBy(modifier => modifier.Key))
    {
        <li>@modifier.Key - @modifier.Value</li>
    }
</ul>

<h2>Free Form Words in Sith</h2>
<p>The Sith language spellcasting language is related to that of the Jed-I, but over the millennia has grown apart and into its own Language. </p>
<h3>Free Form Planes (Sith)</h3>
<ul>
    @foreach (var plane
        in MagicService.GetPlanesWords(FreeFormLanguages.Sith)
            .OrderBy(plane => plane.Key))
    {
        <li>@plane.Key - @plane.Value</li>
    }
</ul>

<h3>Free Form Verb/Action(Sith)</h3>
<ul>
    @foreach (var action
        in MagicService.GetActionWords(FreeFormLanguages.Sith)
            .OrderBy(action => action.Key))
    {
        <li>@action.Key - @action.Value</li>
    }
</ul>

<h3>Free Form Noun/Target (Sith)</h3>
<ul>
    @foreach (var target
        in MagicService.GetTargetWords(FreeFormLanguages.Sith)
            .OrderBy(target => target.Key))
    {
        <li>@target.Key - @target.Value</li>
    }
</ul>

<h3>Free Form Modifiers (Sith)</h3>
<ul>

    @foreach (var modifier
        in MagicService.GetModifiersWords(FreeFormLanguages.Sith)
            .OrderBy(modifier => modifier.Key))
    {
        <li>@modifier.Key - @modifier.Value</li>
    }
</ul>

<h2>Free Form Words in Federation Common</h2>
<p>Each of the Dominions has their own Sub-Order of the Luna Kinghts, and in many of the furthest reaches of the Federation that have their own Chapters of the Luna Knights, they have grown to cast spells in Federation Common instead of the traditional High Versian. </p>
<h3>Free Form Planes (Federation Common)</h3>
<ul>
    @foreach (var plane
        in MagicService.GetPlanesWords(FreeFormLanguages.FederationCommon)
            .OrderBy(plane => plane.Key))
    {
        <li>@plane.Key - @plane.Value</li>
    }
</ul>

<h3>Free Form Verb/Action(Federation Common)</h3>
<ul>
    @foreach (var action
        in MagicService.GetActionWords(FreeFormLanguages.FederationCommon)
            .OrderBy(action => action.Key))
    {
        <li>@action.Key - @action.Value</li>
    }
</ul>

<h3>Free Form Noun/Target (Federation Common)</h3>
<ul>
    @foreach (var target
        in MagicService.GetTargetWords(FreeFormLanguages.FederationCommon)
            .OrderBy(target => target.Key))
    {
        <li>@target.Key - @target.Value</li>
    }
</ul>

<h3>Free Form Modifiers (Federation Common)</h3>
<ul>

    @foreach (var modifier
        in MagicService.GetModifiersWords(FreeFormLanguages.FederationCommon)
            .OrderBy(modifier => modifier.Key))
    {
        <li>@modifier.Key - @modifier.Value</li>
    }
</ul>