@page "/CharacterCreation/Assignment/{characterID}/{careerNameInput}"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using  TravellerWiki.Pages.CharacterCreation.CharacterCreator;
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerCareerService CareerService;
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>Career Assignment Choice (5.5/17) </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }
    [Parameter]
    public string careerNameInput { get; set; }

    string assignmentName = "";
    TravellerAssignment chosenAssignment = null;
    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }


    public void selectAssignment()
    {
        var assignments = GetCareer().Assignments;
        if (assignmentName == "")
        {
            chosenAssignment = assignments.First();
        }
        else
        {
            chosenAssignment = assignments.First(x => x.Name == assignmentName);
        }
        GetService().JoinCareer(GetCareer(), chosenAssignment);
        DoneAssignment();
    }

    public void DoneAssignment()
    {
        NavManager.NavigateTo($"/CharacterCreation/BasicTraining/{characterID}");
    }

    public TravellerCareer GetCareer()
    {
        return CareerService.GetCareer(careerNameInput.Replace('_', ' '));
    }

}
<body>

<h1>Traveller Character Creator</h1>
<div class="creatorMarkup">
    <h2>Select @GetService().Name's Assignment - @GetCareer().CareerName</h2>
    <label for="CharacterProgress">Character Creation Progress: </label>
    <progress id="CharacterProgess" value="5.5" max="17"></progress>
    <CharacterCreationDrawStats CharacterID="@characterID" />
    <div style="padding-left: 2em;">
        <p>
            @GetCareer().CareerName Assignments:
            <ul>
                @foreach (var assignment in GetCareer().Assignments)
                {
                    <li>@assignment.Name - @assignment.Description</li>
                }
            </ul>
        </p>
        <p>
            Select an Assignment:
            <select @bind="assignmentName">
                @foreach (var assignment in GetCareer().Assignments)
                {
                    <option value="@assignment.Name">@assignment.Name</option>
                }
            </select>
            <button @onclick="selectAssignment">Select Assignment & Join</button>
        </p>
    </div>
</div>
</body>