@page "/Career/"
@using TravellerWiki.Data
@using TravellerWiki.Data.Services.CareerService
@model TravellerWiki.CareerModel
@inject TravellerCareerService CareerService
@{
    ViewData["Title"] = "Career";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
@if (Model.Career != null)
{
    var career = @Model.Career;
    <a href="/Career/">
        <h1>@career.CareerName</h1>
    </a>

    <table style="float: right;
                                      border: 1px solid #a2a9b1; background-color: slategrey;
                                      margin: 0.5em 0 0.5em 1em; padding: 0.2em 0.2em 0.2em 0.2em; clear: right; width: 22em;">
        <tr>
            <td>Nationality:</td>
            <td>
                <a href="/CharacterCreation/NationInfoPage?nationName=@career.Nationality.ToString().Replace(" ","_")">
                    @career.Nationality
                </a>
            </td>
        </tr>
        <tr><td><hr /></td><td><hr/></td></tr>
        <tr style="text-align:start"><td>Description:</td><td>@career.CareerDescription</td></tr>
        <tr><td><hr /></td><td><hr/></td></tr>
        <tr>
            <td>
                Qualifications:
            </td>
            <td>
                <ul>
                    @foreach (var qual in @career.Qualifications)
                    {
                    <li>@qual.UnderlingAttribute.AttributeName:@qual.UnderlingAttribute.AttributableValue</li>
                    }
                </ul>
            </td>
        </tr>
        @foreach (var assignment in career.Assignments)
        {

            <tr><td>@assignment.Name:</td><td>@assignment.Description</td></tr>
        }
    </table>

    <h2>Mustering Out and Benefits</h2>
    //Mustering out benefits table
    <table style="text-align: center;width:100%">
        <thead>
        <tr><th style="width:5%">1D</th><th style="width:15%">Cash</th><th style="width:80%">Benefits</th></tr>
        </thead>
        @{
            int i = 1;
        }
        <tbody>
        @foreach (var benefit in career.MusteringOutBenefits)
        {
            <tr><td>@i</td><td>Cr @benefit.Cash </td><td>@benefit.Benefit</td></tr>
            i++;
        }
        </tbody>
    </table>

    //Skills tables
    <h2>Skill Tables</h2>
    <h3>Personal Development/Service Skills</h3>
    <table style="text-align: center">
        <thead>
        <tr><th>1D</th><th style="padding: 2px">Personal Development Skills</th><th style="padding:2px">Service Skills</th></tr>
        </thead>
        <tbody>
        @for (i = 0; i < career.PersonalDevelopmentSkillList.Count; i++)
        {
            var personalSkill = career.PersonalDevelopmentSkillList[i];
            var serviceSkill = career.ServiceSkillsList[i];
            <tr>
                <td style="border: 2px;border-style: solid">@(i+1)</td>
                <td style="border: 2px;border-style: solid">@personalSkill</td>
                <td style="border: 2px;border-style: solid">@serviceSkill</td>
            </tr>
        }
        </tbody>
    </table>

    <h3>Assignment Skill & Survival/Advancement Tables</h3>
    <table style="text-align: center">
        <thead>
        <tr><th>1D</th><th>@career.Assignments[0].Name</th><th>@career.Assignments[1].Name</th><th>@career.Assignments[2].Name</th></tr>
        </thead>
        <tbody>
        @for (i = 0; i < @career.Assignments[0].SkillList.Count; i++)
        {
            var assignment1 = career.Assignments[0].SkillList[i];
            var assignment2 = career.Assignments[1].SkillList[i];
            var assignment3 = career.Assignments[2].SkillList[i];
            <tr>
                <td style="margin: 2px;border-style: solid">@(i+1))</td>
                <td style="margin: 2px;border-style: solid">@assignment1</td>
                <td style="        margin: 2px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          border-style: solid">
                    @assignment2
                </td>
                <td style="margin: 2px;border-style: solid">@assignment3</td>
            </tr>
        }


        <tr><th>Survival:</th><th>@career.Assignments[0].Survival</th><th>@career.Assignments[1].Survival</th><th>@career.Assignments[2].Survival</th></tr>
        <tr><th>Advancement:</th><th>@career.Assignments[0].Advancement</th><th>@career.Assignments[1].Advancement</th><th>@career.Assignments[2].Advancement</th></tr>

        </tbody>
    </table>


    //Events tables
    <h3>Events Table</h3>
    <table>
        <thead style="text-align: center">
        <tr><th>#</th><th>Events</th></tr>
        </thead>
        <tbody>
        @{ i = 2;}
        @foreach (var eventText in career.Events)
        {
            <tr>
                <td>@i)</td>
                <td>@eventText</td>
            </tr>
            i++;
        }
        </tbody>
    </table>

    //Mishaps Table
    <h3>Mishaps Table</h3>
    <table>
        <thead style="text-align: center">
        <tr><th>#</th><th>Mishap</th></tr>
        </thead>
        <tbody>
        @{i = 1;}
        @foreach (var mishap in career.Mishaps)
        {
            <tr>
                <td>@i)</td>
               
                <td>@mishap</td>
            </tr>
            i++;
        }
        </tbody>
    </table>

    //Ranks bonuses tables
    <h2>Ranks and Bonuses</h2>


    <h3>Assignment Ranks and Bonus' Tables</h3>
    <table style="text-align: center">
        <thead>
        <tr><th>Rank</th><th>@career.Assignments[0].Name Title</th><th>Bonus</th><th>@career.Assignments[1].Name Title</th><th>Bonus</th><th>@career.Assignments[2].Name Title</th><th>Bonus</th></tr>
        </thead>
        <tbody>
        @for (i = 0; i < @career.Assignments[0].RanksAndBonuses.Count; i++)
        {
            var assignment1RandAndBonus = career.Assignments[0].RanksAndBonuses[i];
            var assignment2RandAndBonus = career.Assignments[1].RanksAndBonuses[i];
            var assignment3RandAndBonus = career.Assignments[2].RanksAndBonuses[i];
            <tr>
                <td style="margin: 2px;border-style: solid">@(i + 1))</td>
                <td style="margin: 2px;border-style: solid">@assignment1RandAndBonus.title</td>
                <td style="margin: 2px;border-style: solid">@assignment1RandAndBonus.TravellerCharacterCreationReward.ToString()</td>
                <td style="margin: 2px;border-style: solid">@assignment2RandAndBonus.title</td>
                <td style="margin: 2px;border-style: solid">@assignment2RandAndBonus.TravellerCharacterCreationReward.ToString()</td>
                <td style="margin: 2px;border-style: solid">@assignment3RandAndBonus.title</td>
                <td style="margin: 2px;border-style: solid">@assignment3RandAndBonus.TravellerCharacterCreationReward.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1>Careers</h1>
    <ul>
        @foreach (var careerNames in CareerService.GetCareers().OrderBy(career => career.Nationality))
        {

            <li>
                <a href="/Career?career=@careerNames.CareerName">@careerNames.CareerName </a> - <a href="/CharacterCreation/NationInfoPage?nationName=@careerNames.Nationality">@careerNames.Nationality</a>
                <p>@careerNames.CareerDescription</p>
            </li>
        }
    </ul>
}
<a href="/Career/">Go back to the Careers Page</a>

<h3><a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Search">Search</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Index">Home page</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Islands_Sector">Islands Sector</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Rules/">Rules</a></h3>

</body>
</html>