@page "/Character/{characterID}"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject TravellerCharacterStorageService storageService
@inject TravellerNationsCharacterInfoService nationsService
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public PlayerTravellerCharacter GetService()
    {
        return storageService.GetCharacter(characterID);
    }

    public void DoneNationality()
    {
        NavManager.NavigateTo($"/CharacterCreation/Base/{characterID}");
    }

}
<body>
    <div style="text-align: center">
        <h1>Traveller Character</h1>
        <h2>@GetService().Name</h2>
        <p>
        </p>

        <details>
            <summary class="IndexSummery">
                <b>Basic Information</b>
            </summary>
            <p>
                Name: @GetService().Name
                <br />
                Age: @GetService().Age
                <br />
                Nationality: @GetService().Nationality
                <br />
            </p>
            <p>
                <label for="attributeTable">
                    <b>Attributes</b>
                </label>
                <table style="margin-left: auto;margin-right: auto;" id="attributeTable">

                    <thead>
                        <tr>
                            @foreach (var stat in GetService().AttributeList)
                            {
                                <th style="padding: 5px; border-style: solid; border-width: 1px;">@stat.AttributeName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var stat in GetService().AttributeList)
                            {
                                <td style="padding: 5px; border-style: solid; border-width: 1px;">@stat.AttributableValue</td>
                            }
                        </tr>

                        <tr>
                            @foreach (var stat in GetService().AttributeList)
                            {
                                <td style="padding: 5px; border-style: solid; border-width: 1px;"> [@stat.AttributeModifier]</td>
                            }
                        </tr>
                    </tbody>
                </table>
                <br />
            </p>
            <p>
                <h4>Skills</h4>
                @foreach (var skill in GetService().SkillList)
                {
                    @($"{skill.SkillName}: {skill.SkillValue}, ")
                }
            </p>
        </details>

        <details>
            <summary class="IndexSummery">
                <b>Previous Careers</b>
            </summary>
            <p>
                <ol>
                    @foreach (var career in GetService().PreviousCareers)
                    {
                        <li>@career.Career.CareerName - @career.Assignment [@career.Assignment.RanksAndBonuses[career.rank].title]</li>
                    }
                </ol>
            </p>
        </details>

        <details>
            <summary class="IndexSummery">
                <b>Items and stuff</b>
            </summary>
            <div>
                <div>
                    <h4>Finances</h4>
                    <p>
                        @GetService().Finances
                        <br />
                    </p>
                </div>

                <div>
                    <h4>Items</h4>
                    <ul>
                        @foreach (var item in GetService().Items)
                        {
                            <li>@item</li>
                        }
                    </ul>
                    <br />
                </div>

                <div>
                    <h4>Augments</h4>
                    <ul>
                        @foreach (var augment in GetService().Augments)
                        {
                            <li>@augment</li>
                        }
                    </ul>
                    <br />
                </div>
                <div>
                    <h4>Armour</h4>
                    <ul>
                        @foreach (var armour in GetService().Armour)
                        {
                            <li>@armour</li>
                        }
                    </ul>
                    <br />
                </div>
                <div>
                    <h3>Weapons</h3>
                    <ul>
                        @foreach (var weapon in GetService().Weapons)
                        {
                            <li>@weapon</li>
                        }
                    </ul>
                    <br />
                </div>
            </div>
        </details>

        <details>
            <summary class="IndexSummery">
                <b>Contacts</b>
            </summary>
            <p>
                <ul>
                    @foreach (var contact in GetService().Contacts)
                    {
                        if (contact is TravellerSpecialNPC npc)
                        {
                            <li><b>@npc.Name:</b> @npc.PatronText - @npc.QuirkText. [@npc.Background - @npc.Career]</li>
                        }
                        else
                        {
                            <li>@contact</li>
                        }
                    }
                </ul>
                <br />
            </p>
        </details>

    </div>
</body>