@page "/Character/{characterID}"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject TravellerCharacterStorageService storageService
@inject TravellerNationsCharacterInfoService nationsService
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public PlayerTravellerCharacter GetService()
    {
        return storageService.GetCharacter(characterID);
    }

    public void DoneNationality()
    {
        NavManager.NavigateTo($"/CharacterCreation/Base/{characterID}");
    }

}
<body>
    <div style="text-align: center">
        <h1>Traveller Character</h1>
        <h2>@GetService().Name</h2>
        <p>
            <h3>Basic Information</h3>
            <br />
            Name: @GetService().Name
            <br />
            Age: @GetService().Age
            <br />
            Nationality: @GetService().Nationality
            <br />
        </p>

        <h3>Attributes</h3>
        <p>
            <table style="margin-left: auto;margin-right: auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stat in GetService().AttributeList)
                    {
                        <tr>
                            <td>@stat.AttributeName</td>
                            <td>@stat.AttributableValue [@stat.AttributeModifier]</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </p>


        <h3>Previous Careers</h3>
        <p>
            <ol>
                @foreach (var career in GetService().PreviousCareers)
                {
                    <li>@career.Career.CareerName - @career.Assignment @career.Assignment.RanksAndBonuses[career.rank].title</li>
                }
            </ol>
            <br />
        </p>

        <h3>Items and stuff</h3>
        <p>
            <h4>Finances</h4>
            @GetService().Finances
            <br />

            <h4>Items</h4>
            <ul>
                @foreach (var item in GetService().Items)
                {
                    <li>@item</li>
                }
            </ul>
            <br />

            <h4>Augments</h4>
            <ul>
                @foreach (var augment in GetService().Augments)
                {
                    <li>@augment</li>
                }
            </ul>
            <br />

            <h4>Armour</h4>
            <ul>
                @foreach (var armour in GetService().Armour)
                {
                    <li>@armour</li>
                }
            </ul>
            <br />

            <h4>Weapons</h4>
            <ul>
                @foreach (var weapon in GetService().Weapons)
                {
                    <li>@weapon</li>
                }
            </ul>
            <br />

        </p>

        <h3>Contacts</h3>
        <p>
            <ul>
                @foreach (var contact in GetService().Contacts)
                {
                    if (contact is TravellerSpecialNPC npc)
                    {
                        <li><b>@npc.Name:</b> @npc.PatronText - @npc.QuirkText. [@npc.Background - @npc.Career]</li>
                    }
                    else
                    {
                        <li>@contact</li>
                    }
                }
            </ul>
            <br/>
        </p>


    </div>
</body>