

@page "/Languages/HighVersianLangauge/Postfix/{Postfix}"
@using TravellerWiki.Data.Services.DataServices
@inject HighVersianService highVersian
<head>
    <title>High Versian - @Postfix</title>
</head>
<style>
    .high {
        font-family: 'high_versianregular';
    }
</style>

@code
{

    [Parameter]
    public string Postfix { get; set; }

    public HighVersianDefinition _postfix => GetPostfix();

    public HighVersianDefinition GetPostfix()
    {
        return highVersian.Postfixes.FirstOrDefault(x => x.Letters.ToUpper() == Postfix.ToUpper());
    }

    public HighVersianDefinition GenerateWord(HighVersianDefinition prefix, HighVersianDefinition root )
    {
        return highVersian.GetWord(prefix.Letters, root.Letters, _postfix.Letters);
    }

}

<body>
    <h1>High Versian: <div class="high">@_postfix.Letters</div> </h1>
    <p><b class="high">@_postfix.Letters</b> (@_postfix.Letters): @_postfix.Meaning</p>
    @foreach (var letter in highVersian.Letters())
    {
        <details >
            <summary class="IndexSummery"><b class="high">@letter.ToString() (@highVersian.Roots.Count(x => x.Letters.StartsWith(letter.ToString())).ToString())</b></summary>
            @foreach (var root in highVersian.Roots.Where(x => x.Letters.StartsWith(letter.ToString())))
            {
                <details>
                    <summary class="SmallerSummery"><b class="high">@root</b></summary>
                    <ol>
                        @foreach (var prefix in highVersian.Prefixes
                            .Select(prefix =>  GenerateWord(prefix, root)))
                        {
                        <li><b class="high">@prefix.Letters.ToUpper()</b> [@prefix.Letters.ToLower()]: @prefix.Meaning</li>
                        }
                    </ol>
                </details>

            }
        </details>
    }
</body>
