

@page "/Languages/HighVersianLangauge/Postfix/{Postfix}"
@using TravellerWiki.Data.Services.DataServices
@inject HighVersianService highVersian
<head>
    <title>High Versian - @Postfix</title>
</head>
<style>
    .high {
        font-family: 'high_versianregular';
    }
</style>

@code
{

    [Parameter]
    public string Postfix { get; set; }

    public HighVersianDefinition _postfix => GetPostfix();

    public HighVersianDefinition GetPostfix()
    {
        return highVersian.Postfixes.FirstOrDefault(x => x.Letters.ToUpper() == Postfix.ToUpper());
    }

    public HighVersianDefinition GenerateWord(HighVersianDefinition prefix, HighVersianDefinition root )
    {
        var spelling = $"{prefix.Letters}{root.Letters}{_postfix.Letters}";

        return highVersian.Words.Any(x => x.Letters.Equals(spelling)) ? highVersian.Words.First(x => x.Letters == spelling) : new HighVersianDefinition(spelling, $"{prefix.Meaning}. {root.Meaning}. {_postfix.Meaning}");

        return new HighVersianDefinition($"{prefix.Letters}{root.Letters}{_postfix.Letters}", $"{prefix.Meaning}. {root.Meaning}. {_postfix.Meaning}");
    }

}

<body>
    <h1>High Versian: <div class="high">@_postfix.Letters</div> </h1>
    <p><b class="high">@_postfix.Letters</b> (@_postfix.Letters): @_postfix.Meaning</p>
    @foreach (var letter in highVersian.Letters)
    {
        <details >
            <summary class="IndexSummery"><b class="high">@letter (@highVersian.Roots.Count(x => x.Letters.StartsWith(letter.Letters)))</b></summary>
            @foreach (var root in highVersian.Roots.Where(x => x.Letters.StartsWith(letter.Letters)))
            {
                <details>
                    <summary class="SmallerSummery"><b class="high">@root</b></summary>
                    <ol>
                        @foreach (var prefix in highVersian.Prefixes)
                        {
                        <li><b class="high">@GenerateWord(prefix, root).Letters.ToUpper()</b> [@GenerateWord(prefix,root).Letters.ToLower()]: @GenerateWord(prefix,root).Meaning</li>
                        }
                    </ol>
                </details>

            }
        </details>
    }
</body>
