@page "/CharacterCreation/Aging/{characterID}"
@using CharacterCreationTest.CharacterCreation
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    public void AgingInjury()
    {
        NavManager.NavigateTo($"/CharacterCreation/AgingInjury/{characterID}/{roll}");
    }

    int roll = -1;
    bool aging = false;

    public void NextTerm()
    {
        if (GetService().HasJob)
        {
            NavManager.NavigateTo($"/CharacterCreation/GenerateCareerSkill/{characterID}");
        }
        else
        {
            NavManager.NavigateTo($"/CharacterCreation/ChooseCareer/{characterID}");
        }
    }
}
<body>

    <div  class="creatorMarkup">
        <h1>Traveller Character Creator</h1>
        <h2>Select @GetService().Name's - Aging</h2>        
        <CharacterCreationDrawStats CharacterID="@characterID" />
    <div style="padding-left: 2em;">
            @if (roll == -1)
            {
                aging = GetService().ApplyAging();
                roll = GetService().RollDice();
            }
            <p>You are: @GetService().TravellersAge years old.</p>
            @if (aging)
            {
                <p>You rolled a: @roll</p>
                @if (GetService().HasAgingEffect(roll))
                {
                    <p>You failed the aging roll</p>
                    <button @onclick="AgingInjury">Aging Injury</button>
                }
                else
                {
                    <p>You're fine.</p>
                    <button @onclick="NextTerm">Done</button>
                }
            }
            else
            {
                <p>You're fine.</p>
                <button @onclick="NextTerm">Done</button>
            }
        </div>
        </div>
</body>