@page "/CharacterCreation/RollAdvancement/{characterID}"
@using CharacterCreationTest.CharacterCreation
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using  TravellerWiki.Pages.CharacterCreation.CharacterCreator;
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerNationsCharacterInfoService nationsService;
@inject TravellerCareerService careerService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    public void DoneAdvance()
    {
        if (PassedAdvancement) NavManager.NavigateTo($"/CharacterCreation/GetAdvanceSkill/{characterID}/");
        else NavManager.NavigateTo($"/CharacterCreation/LeaveCareer/{characterID}");
    }

    public bool RolledAdvancement = false;
    public bool HasRolled = false;
    public bool PassedAdvancement = false;

    private int roll = 0;


    public void RollAdvancement()
    {
        roll = GetService().RollDice();
        PassedAdvancement = GetService().Advances(roll);
        HasRolled = true;
        GetService().GainBenefitForTerm();
    }
}
<body>

    <div>
        <h1>Traveller Character Creator</h1>
        <div class="creatorMarkup">
            <h2>Select @GetService().Name's - Roll Advancement</h2>
            <CharacterCreationDrawStats CharacterID="@characterID" />
            <div style="padding-left: 2em;">
                <p>
                    Current Advancement Modifiers: @GetService().AdvancementModifier +
                    @GetService().GetAttributes.First(x => x.AttributeName == @GetService().LastAssignment.Advancement.AttributeToCheck).AttributeModifier
                </p>
                <p>Advancement: @GetService().LastAssignment.Advancement</p>

                <button @onclick="RollAdvancement">Roll Advancement</button>
                @if (HasRolled)
                {
                    <p>You rolled with mods a: @(roll + GetService().GetAttributes.First(x => x.AttributeName == GetService().LastAssignment.Advancement.AttributeToCheck).AttributeModifier)/@GetService().LastAssignment.Advancement [@roll]</p>
                    <b>@(PassedAdvancement ? "You passed" : "You failed")</b>
                    <button @onclick="DoneAdvance">
                        @(PassedAdvancement ? "Get Advance Skill" : "Oh well.")
                    </button>
                }
            </div>
        </div>
    </div>
</body>