@page "/CharacterCreation/EventReward/{characterID}"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.CreationEvents
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using  TravellerWiki.Pages.CharacterCreation.CharacterCreator;
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    private string DoneRewardURL = "/CharacterCreation/RollAdvancement/";
    private string CareerChangeURL = "/CharacterCreation/EventAssignment/";
    private string LifeEventURL = "/CharacterCreation/RollEvent/";

}
<body>

    <div>
        <h1>Traveller Character Creator</h1>
        <div class="creatorMarkup">
            <h2>Select @GetService().Name's - Event Reward</h2>
            <CharacterCreationDrawStats CharacterID="@characterID" />
            @if (GetService().LastEvent is TravellerEventReward rwd)
            {
                <CharacterCreationReward characterID="@characterID" DoneRewardURL="@DoneRewardURL"
                                         CareerChangeURL="@CareerChangeURL" LifeEventURL="@LifeEventURL"
                                         RewardList="@rwd.Reward" />
            }
        </div>
    </div>
</body>