@page "/Factions/IslandsFaction/{FactionID}"
@using TravellerWiki.Data
@using TravellerWiki.Data.Factions
@using TravellerWiki.Data.Services.DataServices
@inject TravellerFactionService _factionService

@code{
    [Parameter]
    public string FactionID { get; set; }

    private TravellerFaction _faction = null;
    
    public TravellerFaction GetFaction()
    {
        int factionID = 999;
        if (_faction == null)
        {
            if (!int.TryParse(FactionID, out factionID))
            {
                factionID = 1000;
            }
            
            _faction = _factionService.GetTravellerFaction(factionID);
        }

        return _faction;
    }

}
<head>
    <title>@GetFaction().FactionName - Islands Faction</title>
</head>

<h1>@GetFaction().FactionName</h1>
<p>@GetFaction()</p>
<h3>Important People: </h3>
<ul style="background-color: rgb(244, 232, 31)">
    <li  style="color: black;">Head: <span title="@GetFaction().FactionHead.ToString()"> @GetFaction().FactionHead.Name [@GetFaction().FactionHead.ShortUPP()] (@GetFaction().FactionHead.Background, @GetFaction().FactionHead.Career) </span></li>
    @foreach (var member in GetFaction().FactionMembers)
    {
        <li><span style="color: black;" title="@member.ToString()">@member.PatronText:  @member.Name [@member.ShortUPP()]  (@member.Background @member.Career)</span></li>
    }
</ul>
@if (GetFaction() is TravellerCompany)
{
    <a href="/Factions/IslandsCompanies">Back to Company List</a>
}else if (GetFaction() is TravellerReligion)
{
    <a href="/Factions/IslandsReligions">Back to Religion List</a>
}
