@page "/InformationOnSetting/SubsectorInfo/{SubsectorID}"
@using TravellerMapSystem
@using TravellerGalaxyGenertor
@inject TravellerSubsectorGeneratorService subsectorGenerator; 

@code {
    [Parameter]
    public string SubsectorID { get; set; }
    
    public KnownUniverseSubsector? subsector { get; set; }

    public void GetSubsector()
    {
        subsector = subsectorGenerator.GetSubsector(SubsectorID);
    }
}

@if (subsector == null)
{
    GetSubsector();
}

@if(subsector != null) {
    <div>
        <h2> The @subsector.Name Subsector.</h2>
        <img alt="the subsector map" src="SubsectorImageGenerator/GetImage/@SubsectorID" width="50%" height="50%"/>
        
        <h3>The Systems of the @subsector.Name subsector!</h3>
                                               <p>
        @foreach (var system in subsector.Systems)
        {
            if (system.HasWorld == true && system.WorldCount > 0)
            {
                <div>
                    <h4> The <a href="/InformationOnSetting/SystemInfo/@SubsectorID/@system.X/@system.Y/">@system.Name System</a> (@(system.X + 1), @(system.Y + 1))</h4>
                    <ul>
                        @foreach (var world in system.WorldsInSystem)
                        {
                            <li style="white-space: pre-line;">@(world.ShortDescription())</li>
                        }
                    </ul>
                </div>
                <br/>
            }
        }
        </p>
    </div>
}