@page "/InformationOnSetting/SystemInfo/{SubsectorID}/{SysX}/{SysY}"
@using TravellerMapSystem.Worlds
@using TravellerGalaxyGenertor;
@using TravellerGalaxyGenertor.TravellerGalaxy.Information.Worlds
@code {
    [Parameter]
    public string SysX { get; set; }
    [Parameter]
    public string SysY { get; set; }
    [Parameter]
    public string SubsectorID { get; set; }

    private KnownUniverseSystem? _system;

    public void GetSystem()
    {
        var sysXI = Convert.ToInt32(SysX);
        var sysYI = Convert.ToInt32(SysY);
        
        _system = TravellerSubsectorGeneratorService.GetSystem(SubsectorID, sysXI, sysYI);
    }
}


@if (_system == null)
{
    GetSystem();
}

@if (_system != null){
    <h3>@_system.Name (@_system.X, @_system.Y) [@_system.WorldCount]</h3>
    <p>The @_system.Name system is home to @_system.WorldCount worlds. Its primary world is: @_system.PrimaryWorld</p>
    <ul>
    @foreach (var world in _system.WorldsInSystem)
    {
        @if (world is TravellerWorld travellerWorld)
        {
<li style="border-bottom: 1em;">
            <div>Name: @travellerWorld.Name</div>
            <div>UWP: @travellerWorld.UWP</div>
            <div>Starport Quality: @travellerWorld.StarportDescription()</div>
            <div>Size: @travellerWorld.WorldSizeDescription()</div>
    <div>Atmosphere: @travellerWorld.WorldAtmosphereDescrpition()</div>
            <div>Hydrographics: @travellerWorld.WorldHydrographicsDescription()</div>
            <div>Population: @travellerWorld.Population</div>
            <div>Primary Government: @travellerWorld.GovernmentTypeDescrption()</div>
            <div>Law Level: @travellerWorld.LawLevelDescription()</div>
            <div>Tech Level: @travellerWorld.TechLevelDescription()</div>
            <div>Temperature: @travellerWorld.GetTemperatureDescription()</div>
    <div>Trade Codes</div>
            <div style="color: orange">

                @foreach (var tradeCode in travellerWorld.GetTradeCodes())
                {
                    <div>@tradeCode</div>
                }
            </div>

            <div>Bases in system</div>
            @if (travellerWorld.GasGiant)
            {
                <div style="color:orangered">Fuel Depo(s)</div>
            }
            @if (travellerWorld.MilitaryBase)
            {
                <div style="color:#6bDA26">Military Base</div>
            }
            @if (travellerWorld.OtherBase)
            {
                <div style="color:white">Other Base</div>
            }

            @if (travellerWorld.Factions != null)
            {
                <div>Factions</div>
                @foreach (var faction in travellerWorld.Factions)
                {
                    <div style="color: #ffe81F">
                        @travellerWorld.GovernmentTypeDescrption(faction.GovernmentType)
                        <div style="color: darkorange; "> @((int)faction.Strength!=5? "It is a " + @faction.Strength.ToString().Replace('_',' ') : "The group has " + @faction.Strength.ToString().Replace('_',' '))</div>
                        <div style="color:cyan">It is backed by the @faction.Backer</div>
                    </div>
                }
            }
            <div>Quirk</div>
            <div>
                @travellerWorld.QuirkDescription()
            </div>
            <div>Controlled by</div>
            <a> @travellerWorld.ControllingFaction</a>
        </li>
        }
        else if (world is StarsWithoutNumberWorld starsWithoutNumberWorld)
        {
            <li style="border-bottom: 1em;">
                <p><b>Name</b>: @starsWithoutNumberWorld.Name</p>
                <p><b>Atmosphere</b> @starsWithoutNumberWorld.Atmosphere</p>
                <p><b>Temperature</b> @starsWithoutNumberWorld.Temperature</p>
                <p><b>Biosphere</b> @starsWithoutNumberWorld.Biosphere</p>
                <p><b>Population</b> @starsWithoutNumberWorld.Population</p>
                <p><b>Tech Level</b> @starsWithoutNumberWorld.TechLevel</p>
                <p><b>Origin of World</b> @starsWithoutNumberWorld.OriginOfWorld</p>
                <p><b>Current Relationship</b> @starsWithoutNumberWorld.CurrentRelationship</p>
                <p><b>Contact Point</b> @starsWithoutNumberWorld.ContactPoint</p>
                <p><b>World Tag</b> starsWithoutNumberWorld.WorldTag</p>
            </li>

        }
    }</ul>
}