@page "/VoicesFromTheVoid/Articles/{articleID}"
@using System.Transactions
@using TravellerWiki.Data.Services.DataServices
@using TravellerWiki.Data.SimpleWikiClasses
@inject TravellerVoicesFromTheVoidService VoicesService
@code{

    [Parameter]
    public string ArticleID { get; set; } = "1";


    public VoicesFromTheVoidArticle GetArticle()
    {
        int numb = 1001;

        if (!int.TryParse(ArticleID, out numb))
        {
            numb = 1001;
        }

        return VoicesService.GetArticle(numb);
    }

    }
    <head>
        <title>
            @GetArticle().ArticleName
        </title>

        <meta property="og:title" content="Known Universe Wiki - @GetArticle().ArticleName" />
        <meta property="og:url" content="https://theseamnetwork.com/VoicesFromTheVoid/Articles/" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/favicon.ico" />
        <meta content="@GetArticle().ArticleName By @GetArticle().ArticleAuthor in @GetArticle().PublishersName [@GetArticle().PublicationDate]: @GetArticle().Paragraphs.First().Substring(0,Math.Min(120,GetArticle().Paragraphs.First().Length))" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />

    </head>
<body>
    <VoicesFromTheVoidArticleComponent Article="@GetArticle()"></VoicesFromTheVoidArticleComponent>
    <br/>
<a href="/VoicesFromTheVoid/Articles/">View all Articles</a>
</body>
