@page "/CharacterCreation/RollMishap/{characterID}"
@using CharacterCreationTest.CharacterCreation
@using  TravellerWiki.Pages.CharacterCreation.CharacterCreator;
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.CreationEvents
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using TravellerWiki.Data.TravellerInjuries
@inject NavigationManager NavManager;
@inject MultiPageCharacterCreationService MultiCharacterCreationService;
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    #region GetEvent
    public void GetMishap()
    {

        var roll = GetService().RollDice(1);
        GetService().GetMishap(roll);


        if (GetService().CurrentTermsEvents.Peek() is TravellerEventLife)
        {
            GetService().AddEvent(GetService().GetLifeEvent(GetService().RollDice()));
        }
    }

    //GetEventInjury

    #endregion

    #region Event Reward
        
    private string DoneURL ="/CharacterCreation/GenerateBenefit/";
    private string InjuryURL = "/CharacterCreation/MishapInjury/";
    private string RewardURL = "/CharacterCreation/MishapReward/";
    private string CareerURL = "/CharacterCreation/MishapAssignment/";
    
    #endregion
}
<body>

    <div>
        <h1>Traveller Character Creator</h1>
        <div class="creatorMarkup">
            <h2>Select @GetService().Name's - Roll Mishap</h2>
            @if (GetService().CurrentTermsEvents.Count <= 0)
            {
                GetMishap();
            }
            <CharacterCreationDrawStats CharacterID="@characterID" />
            <CharacterCreationEventHandling characterID="@characterID" DoneURL="@DoneURL" InjuryURL="@InjuryURL"
                                            RewardURl="@RewardURL" CareerURL="@CareerURL" />
        </div>
    </div>
</body>