@page "/CharacterCreation/RollMishap/{characterID}"
@using TravellerCharacter.Character_Services
@using TravellerCharacter.CharacterCreator.CharacterCreation
@using TravellerCharacter.CharacterCreator.CreationEvents
@inject NavigationManager NavManager;
@inject MultiPageCharacterCreationService MultiCharacterCreationService;
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>Mishap (9/17) </title>

</head>

@code{

    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    #region GetEvent

    public void GetMishap()
    {
        var roll = GetService().RollDice(1);
        GetService().GetMishap(roll);


        if (GetService().CurrentTermsEvents.Peek() is TravellerEventLife)
        {
            GetService().AddEvent(GetService().GetLifeEvent(GetService().RollDice()));
        }
    }

    //GetEventInjury

    #endregion

    #region Event Reward

    private readonly string DoneURL = "/CharacterCreation/GenerateBenefit/";
    private readonly string InjuryURL = "/CharacterCreation/MishapInjury/";
    private readonly string RewardURL = "/CharacterCreation/MishapReward/";
    private readonly string CareerURL = "/CharacterCreation/MishapAssignment/";

    #endregion

}

<body>

<div>
    <h1>Traveller Character Creator</h1>
    <div class="creatorMarkup">
        <h2>Select @GetService().Name's - Roll Mishap</h2>
        <label for="CharacterProgress">Character Creation Progress: </label>
        <progress id="CharacterProgess" value="9" max="17"></progress>
        @if (GetService().CurrentTermsEvents.Count <= 0)
        {
            GetMishap();
        }
        <CharacterCreationDrawStats CharacterID="@characterID"/>
        <CharacterCreationEventHandling characterID="@characterID" DoneURL="@DoneURL" InjuryURL="@InjuryURL"
                                        RewardURl="@RewardURL" CareerURL="@CareerURL"/>
    </div>
</div>
</body>