@page "/CharacterCreation/MishapInjury/{characterID}"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.CreationEvents
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using TravellerWiki.Data.TravellerInjuries
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    private string URL = "/CharacterCreation/GenerateBenefit/";
}
<body>

    <h1>Traveller Character Creator</h1>
    <div class="creatorMarkup">
        <h2>Select @GetService().Name's - Mishap Injury</h2>
        <CharacterCreationDrawStats CharacterID="@characterID" />
        <CharacterCreationInjury CharacterID="@characterID" NextURL="@URL" />
    </div>
</body>