@page "/CharacterCreation/MishapReward/{characterID}"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.CreationEvents
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>Mishap Reward (9.5/17) </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    
    private string DoneRewardURL = "/CharacterCreation/GenerateBenefit/";
    private string CareerChangeURL = "/CharacterCreation/MishapAssignment/";
    private string LifeEventURL = "/CharacterCreation/RollMishap/";

}
<body>

    <div>
        <h1>Traveller Character Creator</h1>
        <div class="creatorMarkup">
            <h2>Select @GetService().Name's - Event Reward</h2>
            <label for="CharacterProgress">Character Creation Progress: </label>
            <progress id="CharacterProgess" value="9.5" max="17"></progress>
            <CharacterCreationDrawStats CharacterID="@characterID" />
            @if (GetService().LastEvent is TravellerEventReward rwd)
            {
                <CharacterCreationReward characterID="@characterID" DoneRewardURL="@DoneRewardURL"
                                         CareerChangeURL="@CareerChangeURL" LifeEventURL="@LifeEventURL"
                                         RewardList="@rwd.Reward" />
            }
        </div>
    </div>
</body>