@page "/CharacterCreation/BenefitAssignment/{characterID}/{careerNameInput}"
@using CharacterCreationTest.CharacterCreation
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using  TravellerWiki.Pages.CharacterCreation.CharacterCreator;
@using CharacterCreatorService = TravellerWiki.Data.CharacterCreation.CharacterCreatorService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerCareerService CareerService;
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{
    [Parameter]
    public string characterID { get; set; }
    [Parameter]
    public string careerNameInput { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    private string URL = "/CharacterCreation/Finished/";

public TravellerCareer GetCareer()
    {
        return CareerService.GetCareer(careerNameInput.Replace('_', ' '));
    }

}
<body>

    <div>
        <h1>Traveller Character Creator</h1>
        <div class="creatorMarkup">
            <h2>Select @GetService().Name's Assignment from Benefit - @GetCareer().CareerName</h2>
            <CharacterCreationDrawStats CharacterID="@characterID" />
            <CharacterCreationChangeAssignment characterID="@characterID" URL="@URL" careerNameInput="@careerNameInput" />
        </div>
    </div>
</body>