@page "/CharacterCreation/BenefitAssignment/{characterID}/{careerNameInput}"
@using TravellerCharacter.Character_Services
@using TravellerCharacter.Character_Services.Career_Service
@using TravellerCharacter.CharacterCreator.Careers
@using TravellerCharacter.CharacterCreator.CharacterCreation
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject TravellerCareerService CareerService;
@inject TravellerNationsCharacterInfoService nationsService;
<head>
    <title>Benefit Assignment (16.5/17)</title>

</head>

@code{

    [Parameter]
    public string characterID { get; set; }

    [Parameter]
    public string careerNameInput { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    private readonly string URL = "/CharacterCreation/Finished/";

    public TravellerCareer GetCareer()
    {
        return CareerService.GetCareer(careerNameInput.Replace('_', ' '));
    }

}

<body>

<div>
    <h1>Traveller Character Creator</h1>
    <div class="creatorMarkup">
        <h2>Select @GetService().Name's Assignment from Benefit - @GetCareer().CareerName</h2>
        <label for="CharacterProgress">Character Creation Progress: </label>
        <progress id="CharacterProgess" value="15.5" max="17"></progress>
        <CharacterCreationDrawStats CharacterID="@characterID"/>
        <CharacterCreationChangeAssignment characterID="@characterID" URL="@URL" careerNameInput="@careerNameInput"/>
    </div>
</div>
</body>