@page "/InformationOnSetting/SubsectorInfo/{SubsectorID}"
@using TravellerMapSystem
@using TravellerGalaxyGenertor
@inject TravellerSubsectorGeneratorService subsectorGenerator; 

@code {
    [Parameter]
    public string SubsectorID { get; set; }

    private string _subsectorID = "";
    
    public KnownUniverseSubsector? subsector { get; set; }

    public void GetSubsector()
    {
        subsector = subsectorGenerator.GetSubsector(SubsectorID);
        _subsectorID = SubsectorID;
    }

    public string SaveSubsector()
    {
        if (string.IsNullOrEmpty(_subsectorID) || subsector == null) return "{}";

        Console.WriteLine("I was clicked!");
        return subsector.Json();
    }
}

@if (subsector == null || SubsectorID != _subsectorID)
{
    GetSubsector();
}

@if(subsector != null) {
    <div>
        <title> @subsector.Name Subsector</title>
        <h2> The @subsector.Name Subsector.</h2>
        <p>The @subsector.Name has a popualtion of: @subsector.TotalPopulation.ToString("N0"), spread across @subsector.WorldCount worlds.</p>
        <img alt="the subsector map" src="SubsectorImageGenerator/GetImage/@SubsectorID" width="50%" height="50%"/>
        
        <br/>
        <button type="button"
                id="btnCopy"
                onclick="navigator.clipboard.writeText(`@SaveSubsector()`).then(function() {
            /* clipboard successfully set */
        }, function () {alert('Umm, there was an error!'); })" >Save Subsector</button>
        <h3>The Systems of the @subsector.Name subsector!</h3>
                                               <p>
        @foreach (var system in subsector.Systems)
        {
            if (system.HasWorld == true && system.WorldCount > 0)
            {
                <div>
                    <h4> The <a href="/InformationOnSetting/SystemInfo/@SubsectorID/@system.X/@system.Y/">@system.Name System</a> (@(system.X + 1), @(system.Y + 1)) [Pop: @system.TotalPopulation, AvrTL: @system.AverageTechLevel]</h4>
                    <ul>
                        @foreach (var world in system.WorldsInSystem)
                        {
                            <li style="white-space: pre-line;"><b>[@world.Name: @world.WorldType]</b> @(world.ShortDescription())</li>
                        }
                    </ul>
                </div>
                <br/>
            }
        }
        </p>
    </div>
}